<p>
    There are NBSTRAWS straws in your haystack.
</p>
<form action="/straws" method="post" enctype="multipart/form-data">
    <input type="hidden" name="token" value="TOKEN" id="token3">
    <input type="submit" value="See the haystack">
</form>
