<p>
    You have NBMAGNETS magnets.
</p>
<form action="/magnets" method="post" enctype="multipart/form-data">
    <input type="hidden" name="token" value="TOKEN" id="token3">
    <input type="submit" value="See the magnets">
</form>
<p><span style="font-weight: bold;">New in version 1.10:</span> Save the file you get with the "See the magnets" button, and then you can upload it using the form below to get the same magnets without having to enter them one by one.</p>
<p><span style="font-weight: bold;">Tip:</span> This file can be opened in LibreOffice as a TSV (Tab Separated Values) to edit it</p>
<form action="/" method="post" enctype="multipart/form-data">
    <input type="hidden" name="token" value="TOKEN" id="token3">
    <input type="file" name="magnets-file" id="magnets-file">
    <input type="submit" value="Upload the magnets from a TSV">
</form>
