<fieldset>
    <legend>Errors parsing the straws</legend>
    <div style=\"padding: 20px;background-color: #f44336;color: white;margin-bottom: 15px;\">
        <p>
            There were NBSTRAWERRORS errors while parsing the given file(s).
        </p>
        <p>
            You can see the errors by clicking:
        </p>
        <form action="/straw-errors" method="post" enctype="multipart/form-data">
            <input type="hidden" name="token" value="TOKEN" id="token3">
            <input type="submit" value="See the errors">
        </form>
        <p style="font-weight: bold;">
            Before you paste the error log anywhere, IT IS YOUR RESPONSABILITY TO ANONYMIZE PERSONAL OR INVESTIGATION DATA FIRST, gitlab.com is a public place.
        </p>
        <p>
            Do not panic and head to
            <a href=\"https://gitlab.com/edouardklein/denatting/issues\">
                https://gitlab.com/edouardklein/denatting/issues</a>
            to see if your particular issue has already been reported.
        </p>
        <p>
            If your issue has not been already reported, please open a new issue, and
            attach the error log you can access with the button above.
        </p>
    </div>
</fieldset>
